body {
  font-family: Arial;
  background: #0d0c0c;
  margin: 0;
  padding: 0;
}

.container {
  width: 600px;
  background: rgb(18, 17, 11);
  padding: 20px;
  margin: 30px auto;
  border-radius: 10px;

    color: #f9f6f6;

}

.row {
    display: flex;
    gap: 15px;   /* space between inputs */
}

.row input {
    flex: 1;     /* both inputs take equal width */
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #aaa;
    font-size: 15px;
    box-sizing: border-box;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #f9f6f6;
}


input, select {
  width: 96%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #aaa;
  color: #121111;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  background: #48494b;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
}
.box {
     display: flex;
    gap: 15px;
  padding: 20px;
  background: #eee;
  margin: 10px 0;
  border-radius: 5px;
  color: #0d0c0c;
}
